<!DOCTYPE html>
<html >
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS Application</a>
  </div>
</nav>

  	<div class="container mt-5">
  		  <div class="row justify-content-md-center">
  
  <div class="card text-left">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active"  href="#admin" data-toggle="tab">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#doctor" data-toggle="tab">Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#patient" data-toggle="tab">Patient</a>
      </li>
    </ul>
  </div>
  	<div class="card-body tab-content">
  		<% if(error == '01'){ %>
  			<div class="alert alert-danger" role="alert">
  			Email or password did not match
			</div>
  		<% } else if (error == '02'){ %>
  			<div class="alert alert-danger" role="alert">
  			 	Cant find any user with such detail
			</div>
		<% } %>
		<form action="/users/admin" method="post"  class="tab-pane container active" id="admin">
		
		  <div class="form-group">
		    <label for="exampleInadputEmail1">Admin's Email address</label>
		    <input type="email" class="form-control" id="exampleInadputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleInpusdtPassword1">Password</label>
		    <input type="password" name="password" type="password" class="form-control" id="exampleInpusdtPassword1" placeholder="Password">
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<form action="/users/doctor" method="post"  class="tab-pane container fade" id="doctor">
		  <div class="form-group">
		    <label for="DocInputEmail1">Doctor's Email address</label>
		    <input type="email" name="email" class="form-control" id="DocInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		 
		  </div>
		  <div class="form-group">
		    <label for="examplseInputPassword1">Password</label>
		    <input name="password" type="password" class="form-control" id="examplseInputPassword1" placeholder="Password">
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<form action="/users/patient" method="post"  class="tab-pane container fade" id="patient">
		  <div class="form-group">
		    <label for="examplseInputEmail1">Patient's Email address</label>
		    <input name="email" type="email" class="form-control" id="examplseInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

		  </div>
		  <div class="form-group">
		    <label for="exampleInputPsassword1">Password</label>
		    <input name="password" type="password" class="form-control" id="exampleInputPsassword1" placeholder="Password">
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
  	</div>
  	<div class="card-footer">
  		Note : Admin Email : admin@something.com; Admin Password : admin@123
  	</div>
</div>
  </div>
	
  	</div>

  


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
  </html>