<!DOCTYPE html>
<html >
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
  	   <% 
   	var doctor_active;
   	var patient_active;
   	var list_data;
    var patient;
    var doctor;
    if(user.user_type == 'admin') {
      patient = true
      doctor = true
    } else if (user.user_type == 'doctor') {
      patient = true
      doctor = false
    } else {
      patient = false
      doctor = true
    }
  
  	if(list_type == 'patient') {
 	  	patient_active = 'active'
	  } else if (list_type == 'doctor') {
 	  	doctor_active = 'active'
    }
 	%>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS Application</a>
    

    <ul class="nav nav-pills justify-content-end" >
   <% if (user.user_type != 'admin'){ %>
  <li class="nav-item">
    <a class="nav-link  " href="/">Profile</a>
  </li>
<% } %>
     <% if (doctor) { %>
  <li class="nav-item">
    <a class="nav-link <%= doctor_active %>" href="/doctor">Doctors</a>
  </li>
     <% } %>
     <% if (patient) { %>
  <li class="nav-item">

    <a   class="nav-link <%= patient_active %>" 
      href="/patient">Patients</a>

  </li>
  <% } %>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-primary" href="/messages">
      <span class="badge badge-pill badge-primary mr-2" id='message_counter'>0</span>
    Messages</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " href="/logout">Logout</a>
  </li>
</ul>



  </div>
</nav>

  	<div class="container" style="    margin-top: 60px;">
  		  <div class="row justify-content-md-center">
  <div class="col-sm-12">
  <div class="card ">
  <div class="card-header">
  	<div class="d-flex ">
  	<h3 class="mr-auto p-2">

   <% if(list_type == 'doctor') {%>
   Doctor
      <% } else if(list_type == 'patient') {%>
      Patient
       <% } %>

</h3>
   <% if( user.user_type == 'admin') { %>
<a href="profile/new" class="p-1">Add</a>
<% } %>
</div>
  </div>
  	<div class="card-body ">
	<ul class="list-group list-group-flush">
		<%
		 if(list.length > 0) {
		 	list.forEach(function(e) { 
		 	%>
	 	<li class="d-flex list-group-item">
  			<div class="mr-auto  p-2"><%= e.name %></div>
  		 <% if( user.user_type == 'admin') { %>
       	<a href="profile/<%= e._id %>" class="p-2">Edit</a>
        <% } %>
  			<a  data-toggle="modal"  data-id="<%= e._id %>" data-name="<%= e.name %>"  class="open-AddBookDialog p-2 btn btn-primary" href="#addBookDialog">Message</a>
		</li>
 	
  		<%
		 })
		}
		%>
 

</ul>
  	</div>
  	<div class="card-footer">


<div class="modal fade hide" id="addBookDialog">
	 <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Send Message </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <textarea class="form-control" type="text" name="message" id="bookId" value=""></textarea> 
    </div>
    <div class="modal-footer">
        <button type="button" id='close_model' class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveMsg" >Save changes</button>
      </div>
</div></div>
</div>


  	</div>
</div>
</div>
  </div>
	
  	</div>

  

  <!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="addBookDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>$(function(){app.main()});</script>
<script type="text/javascript">

</script>
  </body>
  </html>