<!DOCTYPE html>
<html >
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
   
</nav>
 <% 
    var patient;
    var doctor;
    if(user.user_type == 'admin') {
      patient = true
      doctor = true
    } else if (user.user_type == 'doctor') {
      patient = true
      doctor = false
    } else {
      patient = false
      doctor = true
    }
  
  %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS Application</a>
    

    <ul class="nav nav-pills justify-content-end" >
   <% if (user.user_type != 'admin'){ %>
  <li class="nav-item">
    <a class="nav-link active " href="/">Profile</a>
  </li>
<% } %>
   <% if (doctor) { %>
  <li class="nav-item">
    <a class="nav-link " href="/doctor">Doctors</a>
  </li>
  <% } %>
  <% if (patient) { %>
  <li class="nav-item">

    <a   class="nav-link" 
      href="/patient">Patients</a>

  </li>
  <% } %>
  <li class="nav-item">
    <a class="nav-link active " href="/messages">Messages</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " href="/logout">Logout</a>
  </li>
</ul>



  </div>
</nav>

    <div class="container" style="    margin-top: 60px;">
        <div class="row justify-content-md-center">
  <div class="col-sm-12">
  <div class="card ">
  <div class="card-header">
    <div class="d-flex">
    <h3 class="mr-auto p-2">

   Messages

</h3>
</div>
  </div>
  <div class="card-content container" style="height: 70vh;
overflow: hidden;">
    <div class="row">
    <div class="col-sm-4 p-0" style="height: 70vh;border-right: 1px solid #ececec;
overflow: scroll;"  >

<div id='person_list' class="list-group">
  <%
     if(msg_list.length > 0) {
      msg_list.forEach(function(e) { 
      %>
  <a id='conv_open' href='#'   data-id='<%- e._id %>'   class="list-group-item list-group-item-action flex-column align-items-start rounded-0">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= e.name %></h5>
    </div>
    <p id="<%- 'text' + e._id %>" class="mb-1"><%= e.last_msg %></p>
    <small id='<%- e._id %>' class="text-left text-danger" style="float:right"><%= e.unread_count %></small>
  </a>

  <% })} %>

</div>
    </div>
    <div class="col-sm-8"  >
      <div id='box'  style="height: 60vh;
overflow: scroll;">
      <ul id="chat_list_con" class="list-group">
      
   
      </ul>
    </div>
      <div>
        <div class="input-group mb-3">
  <textarea id="text_areas" name='new_message' type="text" class="form-control" placeholder="Type your message here" aria-label="Recipient's username" aria-describedby="button-addon2"></textarea> 
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
  </div>
</div>
      </div>
    </div>
  </div>

  </div>
   

</div>
</div>
  </div>
  
    </div>

  







  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>$(function(){app.message()});</script>

  </body>
  </html>