<!DOCTYPE html>
<html >
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
     <% 
    var patient;
    var doctor;
    if(user.user_type == 'admin') {
      patient = true
      doctor = true
    } else if (user.user_type == 'doctor') {
      patient = true
      doctor = false
    } else {
      patient = false
      doctor = true
    }
  
  %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS Application</a>
    

    <ul class="nav nav-pills justify-content-end" >
    <% if (user.user_type != 'admin'){ %>
  <li class="nav-item">
    <a class="nav-link " href="/">Profile</a>
  </li>
<% } %>
   <% if (doctor) { %>
  <li class="nav-item">
    <a class="nav-link " href="/doctor">Doctors</a>
  </li>
  <% } %>
  <% if (patient) { %>
  <li class="nav-item">

    <a   class="nav-link" 
      href="/patient">Patients</a>

  </li>
  <% } %>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-primary" href="/messages">

      <span class="badge badge-pill badge-primary mr-2" id='message_counter'>0</span>

    Messages</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " href="/logout">Logout</a>
  </li>
</ul>



  </div>
</nav>

  	<div class="container mt-5" >
  		  <div class="row justify-content-md-center">
  <div class="col-sm-10">
  <div class="card text-left">
  <div class="card-header">
  	People Form
  </div>
  	<div class="card-body ">

       <% if(success == '01') { %>
        <div class="alert alert-success" role="alert">
          User successfully created
      </div>
      <% } %>
        <% if(error == '01'){ %>
        <div class="alert alert-danger" role="alert">
          Something is not right
      </div>
      <% } else if (error == '11000'){ %>
        <div class="alert alert-danger" role="alert">
          A user is already registered with this email
      </div>
    <% } %>
    
  			<form <% if (form_data) { %> action="/users/profile/?data=<%= form_data._id %>"
          <% } else {%> action="/users/profile" <% } %>  method="post">
             
  				  <div class="form-group row">
    <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" id="inputName3" placeholder="Enter Name" <% if(form_data && form_data.name) {%> value="<%= form_data.name %>" <% } %>>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email" <% if(form_data && form_data.email) {%> value="<%= form_data.email %>" <% } %>>
    </div>
  </div>
  		  <div class="form-group row">
    <label for="inputBio3" class="col-sm-2 col-form-label">Bio</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="bio" id="inputBio3" placeholder="Bio"

      > <% if(form_data && form_data.bio) {%> <%= form_data.bio %> <% } %></textarea> 
    </div>
  </div>
  <% if(!form_data) { %>
    <div  class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" >
    </div>
  </div>
  <% } %>

  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">User Type</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input <% if( form_data && form_data.user_type == 'doctor') { %> checked="checked" <% } %> 
           onclick="checkFn()" class="form-check-input" type="radio" name="user_type" id="doctor_check" value="doctor" >
          <label class="form-check-label" for="doctor_check">
            Doctor
          </label>
        </div>
        <div class="form-check">
          <input  <% if( form_data && form_data.user_type == 'patient') { %> checked="checked" <% } %> onclick="checkFn()" class="form-check-input" type="radio" name="user_type" id="patient_check" value="patient">
          <label class="form-check-label" for="patient_check">
            Patient
          </label>
        </div>
  
      </div>
    </div>
  </fieldset>

    <div id='specialization'>
  		  <div  class="form-group row">
    <label for="inputSpecialization3" class="col-sm-2 col-form-label">Specialization</label>
    <div class="col-sm-10">
      <input type="text" name="specialization" class="form-control" id="inputSpecialization3" placeholder="Specialization" <% if(form_data && form_data.specialization) {%> value="<%= form_data.specialization %>" <% } %>>
    </div>
  </div>
</div>
    <div id='health'>
  		  <div  class="form-group row">
    <label for="inputPName3" class="col-sm-2 col-form-label">Primary Health Issue</label>
    <div class="col-sm-10">
      <input  type="text" name="h_issue" class="form-control" id="inputPName3" placeholder="Primary Health Issue" <% if(form_data && form_data.h_issue) {%> value="<%= form_data.h_issue %>" <% } %>>
    </div>
  </div>
</div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>
</div>
  	</div>

</div>
  </div>
	
  	</div>
  <style>
    #specialization, #health{
      display: none
    }
  </style>
  <script type="text/javascript">
    function checkFn() {
      var specialization = document.getElementById('specialization');
      var health = document.getElementById('health');
      var doctor_check = document.getElementById('doctor_check').checked
      if(doctor_check){
        specialization.style.display = 'block';
        health.style.display = 'none';
      }  else {
        specialization.style.display = 'none';
        health.style.display = 'block';
      }
    }


     checkFn() 



  
  </script>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>
  </html>