<!DOCTYPE html>
<html >
  <head>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
     <% 
    var patient;
    var doctor;
    if(user.user_type == 'admin') {
      patient = true
      doctor = true
    } else if (user.user_type == 'doctor') {
      patient = true
      doctor = false
    } else {
      patient = false
      doctor = true
    }
  
  %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">NodeJS Application</a>
    

    <ul class="nav nav-pills justify-content-end" >
   <% if (user.user_type != 'admin'){ %>
  <li class="nav-item">
    <a class="nav-link active " href="/">Profile</a>
  </li>
<% } %>
   <% if (doctor) { %>
  <li class="nav-item">
    <a class="nav-link " href="/doctor">Doctors</a>
  </li>
  <% } %>
  <% if (patient) { %>
  <li class="nav-item">

    <a   class="nav-link" 
      href="/patient">Patients</a>

  </li>
  <% } %>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-primary" href="/messages">
      <span class="badge badge-pill badge-primary mr-2" id='message_counter'>0</span>
    Messages</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " href="/logout">Logout</a>
  </li>
</ul>



  </div>
</nav>

  	<div class="container" style="    margin-top: 60px;">
  		  <div class="row justify-content-md-center">

          <div class="jumbotron card">
            <div class="card-content" >
              <div class="text-center">
    <img width="200px" height="200px" src="http://www.lovemarks.com/wp-content/uploads/profile-avatars/default-avatar-cute-cactus.png" class="rounded-circle" >
</div>
    <br><br>
   <% if (user.user_type != 'admin'){ %>
            <h3><%= user.name %></h3>
      <em class="text-left"><strong>Bio: </strong><%= user.bio %></em><br>
   <% if (!doctor) { %>
        <em class="text-left"><strong>Specialization: </strong>
                        <%= user.specialization %> </em>
                    <br>
                      <% } %>
         <% if (!patient) { %>
        <em class="text-left"><strong>Primary Health Issue: </strong>
                        <%= user.h_issue %> </em>
                    <br>
                      <% } %>
                            <em class="text-left"><strong>Type: </strong>
                        <%= user.user_type %> </em>
                    <br>
       <% } else { %>

              <h3>Welcome Admin</h3>
                  
             <% } %>
          </div>
             <% if (user.user_type != 'admin'){ %>
          <div class="footer mt-5">
            <a href="profile/<%= user._id %>" class="btn btn-primary">Edit</a>
          </div>
             <% } %>
          
          </div>
  </div>
	
  	</div>

  


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>$(function(){app.main()});</script>
  </body>
  </html>